@charset "utf-8";

*{margin: 0;padding: 0;-webkit-box-sizing: border-box;box-sizing: border-box;}
html {font-family: Arial,"Microsoft YaHei";font-size: 14px;line-height: 1.429;}
a {color: inherit;text-decoration: none;outline-style: none;}
ul, ol, li {list-style: none;}
img {border: 0 none;}

.fl {float: left;}
.fr {float: right;}
.clr {
	clear: both;
	height: 0;
	overflow: hidden;
}
.clrfix:before,
.clrfix:after {
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

html, body {
	height: 100%;
	overflow: hidden;
}
#dodge {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	background: #123;
	border: 1px solid #ddd;
}
.controller {
	position: absolute;
	right: 50%;
	bottom: 50%;
	width: 200px;
	height: 260px;
	padding: 20px;
	margin-right: -100px;
	margin-bottom: -130px;
	color: #fff;
	text-align: center;
	background: rgba(16, 16, 16, .5);
	border-radius: 5px;
	transition: all .3s ease-in-out;
}
.game-over {margin-bottom: 20px;}
.score {
	position: relative;
	margin-bottom: 20px;
	.clear-score {
		position: absolute;
		right: 50%;
		bottom: 50%;
		width: 100px;
		height: 30px;
		padding: 0;
		margin-right: -50px;
		margin-bottom: -15px;
		color: #f00;
		line-height: 30px;
		background: rgb(16, 16, 16);
		border-radius: 5px;
		opacity: 0;
		transition: all .3s ease-in-out;
	}
	&:hover .clear-score {opacity: 1;}
}
.start {
	display: inline-block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	background: #246;
	border-radius: 5px;
}
.help {
	margin-bottom: 20px;
	.btn {
		position: relative;
		bottom: 2px;
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		line-height: 1.2;
		color: #38c;
		vertical-align: middle;
		background: #fff;
		border: .2em solid #ccc;
	}
	.mouse {
		position: relative;
		bottom: 1px;
		display: inline-block;
		width: 1em;
		height: 1em;
		font-size: 16px;
		vertical-align: middle;
		&:beforeï¼Œ &:after {
			content: '\0020';
			position: absolute;
			top: 0;
		}
		&:before {
			left: .1em;
			width: .8em;
			height: 1em;
			background: #fff;
			border-radius: .4em / .4em;
		}
		&:after {
			left: .5em;
			width: 2px;
			height: .4em;
			margin-left: -1px;
			background: #666;
		}
	}
}
